[submodule "third_party/minivmac"]
	path = third_party/minivmac
	url = git@github.com:minivmac/minivmac.git
[submodule "third_party/FastEPD"]
	path = third_party/FastEPD
	url = https://github.com/bitbank2/FastEPD.git
