[submodule "third_party/minivmac"]
	path = third_party/minivmac
	url = git@github.com:minivmac/minivmac.git
[submodule "third_party/FastEPD"]
	path = third_party/FastEPD
	url = git@github.com:JIT2Holidays/FastEPD.git
	branch = papers3
